

/* These first two will set white boxes on the Google Meet intro page*/
.KieQAe { 
    background: white !important; 
} 

.QkY02 { 
background: white !important; 
} 

/* This sets the background of main content area in the call*/
.T4LgNb { 
    background: #4e4e397d url("https://raw.githubusercontent.com/ShopSid/meet-immersion-css/main/themes/picture-wall/wood-wall.jpeg") !important;
    background-repeat: no-repeat;
    background-size: auto;
} 

/* This sets the background for the little bar at the bottom*/
.P9KVBf {
    background: #4e4e397d !important;
}

/* This sets everything related to the individual people views*/
.AwnI1b {
    border-radius: 0px !important;
    transform: scale(.8)!important;
    border-left: white!important;
    border-top: #e4e4e4!important;
    border-bottom: #cbd3e1!important;
    border-right: #a7a7a7!important;
    border-width: 20px!important;
    border-style: solid!important;
    background: #353742b5;
}


